@charset "utf-8";
/*! style.css © yamoo9.net, 2016 */
html {
  overflow-y: scroll;
  font-size: 100%;
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }
body { margin: 0; font-size: 1rem; line-height: 1.5; }
body.show-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 940px;
  height: 100vh;
  margin-left: -470px;
  background: #000;
}